## 데이터 로딩

In [41]:
import pandas as pd
df = pd.read_csv('./auto-mpg.csv', header=None)
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name'] 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [42]:
df[['horsepower','name']].describe(include='all')

       horsepower        name
count         398         398
unique         94         305
top         150.0  ford pinto
freq           22           6

## replace()

In [43]:
df['horsepower'].value_counts()

150.0    22
90.00    20
88.00    19
110.0    18
100.0    17
         ..
93.00     1
220.0     1
152.0     1
116.0     1
91.00     1
Name: horsepower, Length: 94, dtype: int64

In [44]:
df['horsepower'].unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [45]:
df_horsepower = df['horsepower'].replace(to_replace='?', value=None, inplace=False)
df_horsepower.unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [46]:
df_horsepower = df_horsepower.astype('float')
df_horsepower.mean()

104.178391959799

In [47]:
df['horsepower'] = df_horsepower.fillna(104)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [ ]:
df['name'].unique()

In [49]:
df.head()

    mpg  cylinders  displacement  ...  model year  origin                       name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino

[5 rows x 9 columns]

## 분류와 연속 컬럼 구분

In [50]:
df.head(8)

    mpg  cylinders  displacement  ...  model year  origin                       name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino
5  15.0          8         429.0  ...          70       1           ford galaxie 500
6  14.0          8         454.0  ...          70       1           chevrolet impala
7  14.0          8         440.0  ...          70       1          plymouth fury iii

[8 rows x 9 columns]

### check columns 
- 연속형 : displacement, horsepower, weight, acceleration, mpg
- 분류형 : model year, name, cylinders, origin

In [ ]:
df['name'].value_counts()

In [ ]:
df['origin'].value_counts()

In [ ]:
df['mpg'].describe(include='all')

In [ ]:
df['mpg'].value_counts()

## 정규화 단계

In [55]:
Y = df['mpg']
X_contiuns = df[['displacement', 'horsepower', 'weight', 'acceleration']]
X_category = df[['model year', 'cylinders', 'origin']]

In [56]:
from sklearn import preprocessing

In [57]:
scaler = preprocessing.StandardScaler()
type(scaler)

sklearn.preprocessing._data.StandardScaler

In [58]:
scaler.fit(X_contiuns)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [59]:
X = scaler.transform(X_contiuns)

In [60]:
from sklearn.linear_model import LinearRegression

In [61]:
lr = LinearRegression()
type(lr)

sklearn.linear_model._base.LinearRegression

In [62]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [63]:
lr.score(X,Y)

0.7061364273740109

In [68]:
df.head(1)

    mpg  cylinders  displacement  ...  model year  origin                       name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu

[1 rows x 9 columns]

In [71]:
x_cusmter = scaler.transform([[307.0,130.0,3504.0,12.0]])
x_cusmter.shape

(1, 4)

In [72]:
lr.predict(x_cusmter)

array([18.99743588])

## pickle

In [65]:
import pickle
pickle.dump(lr, open('./autompg_lr.pkl', 'wb'))

In [66]:
!ls -l ./saves/autompg_lr.pkl

-rw-r--r-- 1 root root 567 Jul  6 01:49 ./saves/autompg_lr.pkl

In [67]:
pickle.load(open('./saves/autompg_lr.pkl', 'rb'))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [73]:
pickle.dump(scaler, open('./autompg_standardscaler.pkl', 'wb'))

## one hot encoding

In [77]:
x_category.head(3)

   model year  cylinders  origin
0          70          8       1
1          70          8       1
2          70          8       1

In [84]:
x_category['origin'].value_counts()

1    249
3     79
2     70
Name: origin, dtype: int64

In [91]:
df_origin = pd.get_dummies(x_category['origin'], prefix='origin')

In [93]:
df_cylinders = pd.get_dummies(x_category['cylinders'], prefix='cylinders')

In [94]:
df_origin.shape, df_cylinders.shape

((398, 3), (398, 5))

In [96]:
X_contiuns.head(3)

   displacement  horsepower  weight  acceleration
0         307.0       130.0  3504.0          12.0
1         350.0       165.0  3693.0          11.5
2         318.0       150.0  3436.0          11.0

In [107]:
X = pd.concat([X_contiuns, df_cylinders, df_origin], axis='columns')
X.head(5)

   displacement  horsepower  weight  ...  origin_1  origin_2  origin_3
0         307.0       130.0  3504.0  ...         1         0         0
1         350.0       165.0  3693.0  ...         1         0         0
2         318.0       150.0  3436.0  ...         1         0         0
3         304.0       150.0  3433.0  ...         1         0         0
4         302.0       140.0  3449.0  ...         1         0         0

[5 rows x 12 columns]

In [128]:
scaler_xgb = preprocessing.StandardScaler()
scaler_xgb.fit(X)
X = scaler_xgb.transform(X)

In [135]:
import pickle
pickle.dump(scaler_xgb,open('./scaler_xgb.pkl', 'wb'))

In [129]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((298, 12), (100, 12), (298,), (100,))

In [130]:
import xgboost

In [131]:
xgb = xgboost.XGBRegressor()
xgb

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [132]:
xgb.fit(x_train, y_train)

[08:00:06] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [136]:
pickle.dump(xgb, open('./xgb_model.pkl','wb'))

In [133]:
xgb.score(x_train, y_train)

0.9289421678127683

In [134]:
xgb.score(x_test, y_test)

0.7921690283972784

In [127]:
X[0]

array([ 1.0906037 ,  0.67513301,  0.63086987, -1.29549834, -0.10075854,
       -1.02544936, -0.08714893, -0.51721942,  1.69235861,  0.77355903,
       -0.46196822, -0.49764335])